*{text-align: center;}
a{text-decoration:none;}
body{background-image:   url('https://www9.0zz0.com/2022/03/09/15/315432792.jpg');
background-repeat: no-repeat;
background-size: 100% 718px ;}
h3{font-family: 'Roboto', sans-serif;
     background: rgb(63,94,251);
       background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(12,116,255,1) 36%, rgba(147,44,44,1) 53%, rgba(255,0,0,1) 100%);
       color: transparent;
			    	   background-clip: text ;
        -webkit-background-clip: text;}
.img-1{width: 105px;
        height: 105px;
          border-radius: 50%;
          
          

          }
.img-2{width: 35px;
        height: 35px;
         border:  none;
          border-radius: 50%;
           position: relative;
            right: 120px;
             top: 3px;}
.img-3{width: 35px;
        height: 35px;
         border:  none;
          border-radius: 50%;
           position: relative;
            right: 105px;
             top: 3px;}
.img-4{width: 35px;
        height: 35px;
         border:  none;
          border-radius: 50%;
           position: relative;
            right: 117px;
             top: 3px;}
.img-6{width: 35px;
        height: 35px;
         border:  none;
          border-radius: 50%;
           position: relative;
            right: 108px;
             top: 3px;}
.img-7{width: 35px;
        height: 35px;
         border:  none;
          border-radius: 50%;
           position: relative; 
            right: 117px;
             top: 3px;}
.div-1{
font-family:'Permanent Marker',cursive;}

input[type="submit"]{
 font-family: inherit;
  background: rgb(2,0,36);
   background:linear-gradient(90deg,  rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%,           rgba(0,212,255,1) 100%); 
   color: #fff;
    border: none;
     border-radius: 25px;		
      position: relative;
       bottom: 10px;
        right: 20px;
         font-size: 16px;
          letter-spacing: 1px;}
.div-2{font-family: 'Amiri', serif;}
input[type="button"]{
 font-family: inherit;
  background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    color: white;
     border: none;
      border-radius: 30px;		
       font-size: 16px;
        letter-spacing: 1px;}
